<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Friends</h2>
            <ul class="list-group">
                <li *ngFor="let user of users" 
                class="list-group-item d-flex justify-content-between align-items-center">
                {{user.name}}
                <span class="badge" [ngClass]="user.status === 'online' ? 'circle-green' : 'circle-red'"></span>
                </li>            
            </ul>
        </div>
        <div class="col-md-8">
            <h2>Assigned Tickets</h2>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Deadline</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of tickets">
                        <td>{{ticket.name}}</td>
                        <td>{{ticket.type}}</td>
                        <td>{{ticket.priority}}</td>
                        <td>{{ticket.deadline}}</td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
