<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Friends</h2>
            <ul class="list-group">
                <li *ngFor="let user of users" 
                class="list-group-item d-flex justify-content-between align-items-center">
                {{user.name}}
                <span class="circle" [ngClass]="user.status === 'online' ? 'circle-blue' : 'circle-gray'"></span>
                </li>            
            </ul>
        </div>
        <div class="col-md-8">
            <h2>Assigned Tickets</h2>
            <table class="ticket-table table table-bordered">
                <thead style="background-color: rgb(33, 176, 219);">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Deadline</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of tickets">
                        <td>{{ticket.name}}</td>
                        <td>{{ticket.type}}</td>
                        <td>{{ticket.priority}}</td>
                        <td>{{ticket.deadline}}</td>
                    </tr>
                </tbody>
              </table>
        </div>
        <div class="project-row">
            <h2>Projects</h2>
            <div class="legend">
                Priority:
                <span class="circle circle-red"></span> : High, 
                <span class="circle circle-yellow"></span> : Medium,
                <span class="circle circle-green"></span> : Low
            </div>
            <ul class="list-group">
                <li *ngFor="let project of projects" 
                class="list-group-item" style="position: relative;
                ">
                {{project.name}}
                    <div class="priority-count">
                        <span class="circle circle-red"></span> {{project.ticketPriorityCount.low}}
                        <span class="circle circle-yellow"></span> {{project.ticketPriorityCount.medium}}
                        <span class="circle circle-green"></span> {{project.ticketPriorityCount.high}}
                    </div>
                </li>            
            </ul>
        </div>
    </div>
</div>
